body {
    font-family: sans-serif;
}

nav{
    display: flex;
    justify-content: space-around;
}

header a{
    text-decoration: none;
    color: red;
    font-size: 40px;
    font-family: 'Times New Roman', Times, serif;
    transition: 0.3s ease-out;
    border-radius: 40px;
    padding: 10px;
}
header a:hover{
    transition: 0.2s ease-out;
    text-decoration: none;
    font-size: 50px;
    background-color: rgba(255, 255, 255, 0.377);
    border-radius: 40px;
    padding: 10px;
    box-shadow: 3px 5px 10px rgb(46, 3, 3);
}

main h1{
    text-align: center;
    font-family: Snell Roundhand, cursive;
    background-color: darkgreen;
    color: whitesmoke;
}

div h1{
    font-family: MARLETT;
    transition: 0.5s ease-out;
}

header p{
    display: flex;
    justify-content: space-evenly;
}

.m{
    text-align: center;
    font-size: 30px;
    top: 90%;
    font-family: arial black;
}

main p{
    font-family: segoe script;
    font-size: 15px;
    transition: 0.3s ease-out;
}

main p:hover{
    font-family: segoe script;
    font-size: 21px;
    box-shadow: 2px 4px 12px darkgreen;
    transition: 0.3s ease-out;
}

div h1:hover{
    font-family: cursive;
    transition: 0.5s ease-out;
    font-size: 20px;
}

div p{
    font-family: MARLETT;
    transition: 0.5s ease-out;
}

div p:hover{
    font-family: cursive;
    transition: 0.5s ease-out;
    font-size: 20px;
}

div{
    display: flex;
    justify-content: space-around;
}
